@namespace BlazeCN.UI
@using BlazeCN.UI.Lib

<div data-slot="alert-description" class="@ClassNames" @attributes="AdditionalAttributes">
    @RenderChildContent
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter] public RenderFragment? RenderChildContent { get; set; }

    private string ClassNames => Styles.Cn(
        "text-muted-foreground col-start-2 grid justify-items-start gap-1 text-sm [&_p]:leading-relaxed",
        AdditionalAttributes.ExtractClass() ?? ""
    );
}
