@page "/"

<PageTitle>Home</PageTitle>

<main class="mx-24 my-24">
    <BlazeAccordion DefaultValue="item-1">
        <BlazeAccordionItem Value="item-1">
            <BlazeAccordionTrigger>Is it accessible?</BlazeAccordionTrigger>
            <BlazeAccordionContent>
                Yes. It adheres to the WAI-ARIA design pattern.
            </BlazeAccordionContent>
        </BlazeAccordionItem>
        <BlazeAccordionItem Value="item-2">
            <BlazeAccordionTrigger>Is it accessible?</BlazeAccordionTrigger>
            <BlazeAccordionContent>
                Yes. It adheres to the WAI-ARIA design pattern.
            </BlazeAccordionContent>
        </BlazeAccordionItem>
        <BlazeAccordionItem Value="item-3">
            <BlazeAccordionTrigger>Is it accessible?</BlazeAccordionTrigger>
            <BlazeAccordionContent>
                Yes. It adheres to the WAI-ARIA design pattern.
            </BlazeAccordionContent>
        </BlazeAccordionItem>
    </BlazeAccordion>
</main>
